body {
    background-color: #f8f9fa;
}

h1, h3 {
    margin-bottom: 20px;
}
.alert-error {
    color: red;
}
.alert-success {
    color: green;
}
/* Tùy chỉnh nền và kích thước dropdown */
.dropdown-menu {
    background-color: #f8f9fa;
    border-radius: 5px;
    min-width: 180px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

/* Kiểu cho từng mục trong dropdown */
.dropdown-item {
    color: #333;
    font-weight: 500;
    padding: 8px 20px;
    transition: all 0.3s ease;
}

/* Hiệu ứng hover cho từng mục */
.dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
}

/* Kiểu cho văn bản chính của dropdown */
.nav-link.dropdown-toggle {
    color: #007bff;
    font-weight: bold;
}
